<div class="user_profile">
  <div class="user_profile_image">
    <%= image_tag("default_image.jpg", :class => "user_profile_image_id") %>
  </div>

  <div class="user_profile_name">
    <%= @user.name %>
  </div>

  <div class="user_profile_email">
    <%= @user.email %>
  </div>

  <div class="user_profile_edit_btn">
    <% if @user == current_user %>
      <%= link_to "プロフィール編集", edit_user_registration_path , class:"btn btn-info" %>
    <% end %>
  </div>
</div>
